.container {
    display: flex;
    flex-direction: row;
}
.d-flex {
    margin: 10px;
}

.escrita {
    margin-right: 20%;
}

.escrita h1 {
    font-size: 30px;
    color: #e02822;
    font-weight: 700;
}

.escrita span {
    font-size: 12px;
}

form {
    min-width: 20%;
    min-height: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
}

