
/* Começo do Rodapé */

.rodape {
    background-color: var(--bg-rodape);
    position: absolute;
    width: 100%;
    text-align: center;
    
    margin-top: 10px;
    margin-bottom: 0;
}

.textos {
    color: var(--text-rodape);
    font: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.link_rodape {
  font: 16px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: white;
}
.link_rodape:hover {
  color: #de2a25;
}
/* Fim do Rodapé */

/* Cards de Comida */

.cards {
  padding: 15px;
  display: flex;
  flex-flow: row;
}

.item {
  background-color: rgb(79, 177, 177);
  margin: 5px;
  
}

/* Fim dos Cards */

