@import url('https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&subset=latin-ext,vietnamese');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Montserrat');


/* Conteúdo da Home */

.home{
  display: flex;
  background: url("/images/home_background.jpg") no-repeat center;
  height: 100vh;
  color: #fff;
  min-height: 500px;
  background-size: cover;
  background-attachment: fixed;
}
.home .max-width{
  width: 100%;
  display: flex;
}

.section .border {
  border-radius: 120x;
}

.container {
  align-items: center;
  max-width: 300px;

  display: flex;
  flex-direction: row;

  margin-right: 50%;
  margin-top: 100px;
  margin-bottom: 80px;
}

.container .item {
  flex: 1;
  margin: 10px;
}

.container h1 {
  font-family: Montserrat;
  color: #de2a25;
  margin-bottom: 70px;
}

.container p {
  font-family: Montserrat;
  font-size: 18px;
}

.container img {
  border-radius: 10px;
}



/* Conteúdo da Home */


/* Começo do Rodapé */

.rodape {
    background-color: var(--bg-rodape);
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
}

.textos {
    color: var(--text-rodape);
    font: 16px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.link_rodape {
  font: 16px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: white;
}
.link_rodape:hover {
  color: #de2a25;
}
/* Fim do Rodapé */


/* Cards de Comida */

.container_cards {
  display: flex;
  justify-content: center;
  align-items: center;
}



  /* Algumas alterações do Bootstrap */

.modal-body span {
  font-size: 13px;
}

.card {
  margin: 15px;
}

.navbar .bg-danger {
  background-color: #be131c;
}

/* Fim dos Cards */


.dropdown-menu a {
  background-color: white;
}