@import 'https://fonts.googleapis.com/css?family=Montserrat';

* {
  font-family: Montserrat;
}

.nav-item a {
  font-family: Montserrat;
}

.navbar a {
  color: white;
  font-family: Montserrat;
}

.gb-blue {
  background-color: #9dd6f4;
}

.btn-primary {
  background-color: #1a87c2 !important ;
  border-color: #1190d4 !important;
}

.imagem_perfil img {
  width: 40%;
}

.email_usuario span {
  font-size: 17px;
  color: #e2d8d8;
}

/* Responsividade */

@media screen and (min-width:992px){
  .nav-item {
    line-height: 50px;
  }
}