@import 'https://fonts.googleapis.com/css?family=Montserrat';

* {
  font-family: Montserrat;
}

.nav-item a {
  font-family: Montserrat;
}


/* Responsividade */

@media screen and (min-width:992px){
  .nav-item {
    line-height: 50px;
  }
}