/* Começo do Rodapé */
.rodape {
    background-color: var(--bg-rodape);
    margin-top: 30px;
    color: white;
    height: 30px;
    text-align: center;
}

.textos {
    color: var(--text-rodape);
    font: 16px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.link_rodape {
  font: 16px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: white;
}

.link_rodape:hover {
  color: #de2a25;
}
/* Fim do Rodapé */