@import url('https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&subset=latin-ext,vietnamese');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=latin-ext');

:root {
    --bg-geral: #ffffff;

    /* Cor do Header */
    --gb-header: #202225;
    --botao-navbar: #2cbb2c;
    --botao-navbar-ativo: #dadfda;

    /* Cor da ScrollBar */
    --bg-scrollbar: #f1f1f1;
    --cor-bar: #888;

    /* Cor do Rodapé */
    --bg-rodape: #36393F;
    --text-rodape: #b9b9bd;


    /* Cores Globais */

    --red: #da2c4d;
    --yellow: #f8ab37;
    --green: #2ecc71;
    --white: #ffffff;
    --grey-light: #f2f7f9;
    --grey: #ecedf3;
    --black: #080808;
    --black-blue: #1f2029;
    --black-blue-light: #353746;
    --black-blue-light-2: #404255;
    --black-blue-light-3: #4b4d64;
    --black-light: #424455;

}

html {
    height: 100%;
    padding: 0;
    margin: 0;

    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;

    background-color: var(--bg-geral);
}

/* Estilização da ScrollBar */
  *::-webkit-scrollbar {
      width: 12px;
    }
    
    *::-webkit-scrollbar-track {
      background: var(--bg-scrollbar);
    }
    
    *::-webkit-scrollbar-thumb {
      background-color: var(--cor-bar);
      border-radius: 10px;
      border: 3px solid var(--bg-scrollbar);
    }

    *::-webkit-scrollbar-thumb:hover {
      background: #555;
    }

    * {      /* Isto é apenas para o Firefox */
      scrollbar-width: thin;
      scrollbar-color: #de2a25 #1a1a33;
    }
/* Fim da ScrollBar */