.botao_remover {
    background-color: #d81b1b;
    font-size: white;
}

.titulo_guest {
    color: #1b1b1b;
    font-size: 25px;
}

.imagem_produto {
    width: 60%;
}

th, td {
    padding: 15px;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: #1b1b1b;
}